* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Arimo', Helvetica, Arial, sans-serif;
}

img {
  width: 100%;
}

p {
  color: #8b8e94;
}

nav {
  background-color: #000;
}

nav .navbar-brand h1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 8px;
}

.__text-combo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  z-index: 10;
}

.__text-combo.__dark {
  color: #000;
}

.__text-combo.__light {
  color: #fff;
}

.__text-combo h2 {
  color: #FFA33E;
  font-size: 3em;
  font-family: 'Pinyon Script', fantasy;
  margin-bottom: -38px;
}

.__text-combo h3 {
  font-size: 4em;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

.__max-width {
  max-width: 990px;
  margin: 0 auto;
}

.__pads-y {
  padding: 100px 0;
}

.__wrapper-carousel .carousel-inner > * {
  min-height: 60vh;
}

.__wrapper-carousel .carousel-inner .carousel-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
}

.__wrapper-carousel .carousel-inner .carousel-item::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

.__wrapper-carousel .carousel-inner .carousel-item.slide1 {
  background-image: url("../img/hero_bg_1.jpg");
}

.__wrapper-carousel .carousel-inner .carousel-item.slide2 {
  background-image: url("../img/hero_bg_2.jpg");
}

.__wrapper-carousel .carousel-inner .carousel-item.slide3 {
  background-image: url("../img/hero_bg_3.jpg");
}

div[class^="__header-"] {
  width: 100%;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-size: cover;
  background-position: center;
}

.__wrapper-events {
  background-color: #e6e6e6;
}

.__wrapper-events .__header-events {
  background-image: url("../img/hero_bg_4.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  overflow: hidden;
}

.__wrapper-events .__header-events::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 0;
}

.__wrapper-events .__body-events {
  margin-top: -25px;
  padding-bottom: 75px;
}

.__wrapper-events .__body-events .__card {
  background-color: #fff;
  text-align: center;
  margin-bottom: 32px;
}

.__wrapper-events .__body-events .__card .__inner-img {
  height: 250px;
  position: relative;
  overflow: hidden;
}

.__wrapper-events .__body-events .__card .__inner-text {
  position: relative;
  background-color: #fff;
  padding: 25px 20px 20px 20px;
}

.__wrapper-events .__body-events .__card .__inner-text h4 {
  font-size: 1.5em;
  font-weight: bold;
}

.__wrapper-events .__body-events .__card .__inner-text p {
  line-height: 1.3rem;
}

.__wrapper-events .__body-events .__card .__inner-text h5 {
  color: #FFA33E;
  font-weight: 700;
}

.__wrapper-contact {
  background-color: #000;
  padding: 50px 0;
  color: #fff;
}

.__wrapper-contact article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.__wrapper-copyright {
  padding: 10px 0;
  background-color: #262626;
  color: #8b8e94;
}

@media (max-width: 575px) {
  .__inner-img {
    height: 160px;
  }
}
